@model Bike

<h1>@Model.Name</h1>
<p>@Model.Price €</p>
<img class="img-thumbnail" alt="Bike1" src="~/@Model.Pic">

@Html.ActionLink("Add to basket", "Index", "Home", new { wedstrijdId = Model.Id }, new { @class = "btn btn-primary" })